<section>
  <app-page-title>Usuários</app-page-title>
  <app-page-content class="content">
    <div class="actions">
      <div class="filter">
        <app-search-filter (search)="filterUsersByName($event)"></app-search-filter>
      </div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="'create'"
        routerLinkActive="router-link-active"
        *ngIf="writePermission$ | async"
      >
        <mat-icon>person_add</mat-icon>
        <span>Novo Usuário</span>
      </button>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>
        <ng-container matColumnDef="identity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF</th>
          <td mat-cell *matCellDef="let row">{{ row.identity | mask: '000.000.000-00' }}</td>
        </ng-container>
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Data de Nascimento
          </th>
          <td mat-cell *matCellDef="let row">{{ row.dateOfBirth | date: 'dd/MM/YYYY' }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Visualizar" color="primary" (click)="viewUser(row.id)">
              <mat-icon>visibility</mat-icon>
            </button>
            <ng-container *ngIf="writePermission$ | async">
              <button
                mat-icon-button
                matTooltip="Editar"
                color="primary"
                [routerLink]="['user', row.id]"
                routerLinkActive="router-link-active"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Deletar"
                color="primary"
                (click)="deleteUser(row.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </app-page-content>
</section>
